@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 0px solid transparent;
  background-color: #b0b7bc;
}

div:hover::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
}
